.btn-original {
    width: auto;
    height: auto;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

/*.nect-login, .nect-profile {*/
    /*margin-right: 15px;*/
/*}*/

/*.nect-login, .nect-profile, .nect-logout, .nect-register {*/
    /*margin-left: 5px;*/
    /*margin-top: 15px;*/
    /*cursor: pointer;*/
/*}*/

#registrationBox label {
    text-align: right;
    width: 250px;
}

input {
    color: #000;
}