.btn-original {
    width: auto;
    height: auto;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #4C5A7F;
    border-radius: 10px;
    font-size: 20px;
    color: #4C5A7F;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #30467F;
    background: url(../img/office.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/*.nect-login, .nect-profile {*/
    /*margin-right: 15px;*/
/*}*/

/*.nect-login, .nect-profile, .nect-logout, .nect-register {*/
    /*margin-left: 5px;*/
    /*margin-top: 15px;*/
    /*cursor: pointer;*/
/*}*/

#registrationBox label {
    text-align: right;
    width: 250px;
}

input {
    color: #000;
}